.home_container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 2em;
  margin: 0 auto;
  text-align: center;
}

.home_container h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.home_container h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.home_container p {
  margin-bottom: 1.5em;
  color: #7b7b7b;
}

.home_container img {
  width: 100%;
  max-width: 350px;
  margin: 2em 0;
}

.home_container > div {
  max-width: 600px; /* Para manter o conteúdo em foco */
  margin: 0 auto;
}

.playgame {
  display: block;
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  transition: transform 0.3s ease;
}

.playgame:hover {
  transform: scale(1.1);
}
