.home_container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 2em;
  margin: 0 auto;
  text-align: center;
}

.home_container h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.home_container h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.home_container p {
  margin-bottom: 1.5em;
  color: #7b7b7b;
}

.home_container img {
  width: 100%;
  max-width: 350px;
  margin: 2em 0;
}

.home_container > div {
  max-width: 600px; /* Para manter o conteúdo em foco */
  margin: 0 auto;
}

.playgame {
  display: block;
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.skeleton {
  width: 300px;
  height: 200px;
  background-color: #ccc;
  border-radius: 8px;
  animation: pulse 1.2s infinite ease-in-out;
  margin: 0 auto;
}

@keyframes pulse {
  0% {
    background-color: #ddd;
  }
  50% {
    background-color: #eaeaea;
  }
  100% {
    background-color: #ddd;
  }
}

.playgame img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
