.footer {
  background-color: #222;
  color: #fff;
  padding: 1em;
  text-align: center;
  width: 100%;
  position: fixed; /* Fixa o rodapé no final da página */
  bottom: 0; /* Garante que ele fique na parte inferior */
  left: 0;
}

body {
  margin: 0; /* Remove margens para alinhar o rodapé */
  padding: 0; /* Remove o padding para evitar espaços desnecessários */
  min-height: 100vh; /* Garante que o corpo ocupe a tela toda */
  display: flex;
  flex-direction: column;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz o conteúdo ocupar a altura total da tela */
}

.main-content {
  flex: 1; /* Empurra o rodapé para o fim */
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 2em;
  transition: 0.3s;
}

.social_list li:hover {
  color: #6e6e6e;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  font-size: 0.8em;
  margin-top: 1em;
}

.copy_right span {
  font-weight: bold;
  color: #acacac;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em; /* Para manter espaçamento nas laterais */
}
