.navbar {
  margin: 0 auto; /* Remove margens extras */
  padding: 1em; /* Espaçamento interno */
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: center;
  background-color: #222;
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

.navLeft {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 1em;
}

.link {
  transition: transform 3s;
  cursor: pointer;
  transform: rotateY(90deg);
  transition-duration: 1s;
  animation: rotate linear 1s infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.item a:hover {
  color: #6e6e6e;
}

.logout {
  background-color: #222;
  color: #fff;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #222;
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: right;
}

.logout:hover {
  color: #222;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.05em;
}
